<form class="form-control" action="/catalog" method="post">
  <div class="form-group">
    <label for="title">Enter the title</label>
    <input type="text" name="title" id="title">

    <label for="artist">Enter artist name</label>
    <input type="text" name="artist" id="artist">
  </div>
  <button type="submit" class="btn btn-info">Add</button>

</form>
